:root {
  --main-background: #0A0E12;
  --header-background: #21262D;
  --section-background: #161B22;
  --border-color: #2C3036;
  --sec-btn-background: #4E5254;

  --sec-text-color: #787f83;
  --prim-text-color: #D6DCE2;

  --default-padding: 10px;
}

$border: 2px solid var(--border-color);